@model ProductVM

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Product</h2>
            <hr/>
        </div>
        <div class="row mb-3 p-1">
            <label asp-for ="Product.Title" class="p-0"></label>
            <input asp-for="Product.Title" type="type" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-1">
            <label asp-for="Product.Description" class="p-0"></label>
            <input asp-for="Product.Description" type="type" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-1">
            <label asp-for="Product.ISBN" class="p-0"></label>
            <input asp-for="Product.ISBN" type="type" class="form-control" />
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-1">
            <label asp-for="Product.Author" class="p-0"></label>
            <input asp-for="Product.Author" type="type" class="form-control" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-1">
            <label asp-for="Product.ListPrice" class="p-0"></label>
            <input asp-for="Product.ListPrice" type="type" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-1">
            <label asp-for="Product.Price" class="p-0"></label>
            <input asp-for="Product.Price" type="type" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-1">
            <label asp-for="Product.Price50" class="p-0"></label>
            <input asp-for="Product.Price50" type="type" class="form-control" />
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-1">
            <label asp-for="Product.Price100" class="p-0"></label>
            <input asp-for="Product.Price100" type="type" class="form-control" />
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-1">
            <label asp-for="Product.CategoryId" class="p-0"></label>
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow" style="height:45px;">
                <option disabled selected>--Select category--</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-1">
            <label asp-for="Product.ImageUrl" class="p-0"></label>
            <input asp-for="Product.ImageUrl" type="type" class="form-control" />
            <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
        </div>
        <div class="row mt-5">
            <div class="col-4 offset-4 text-center">
                <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}
