@using BulkyBook.Models
@model List<Product>

<div class="container">

    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2>
                Product List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create New Product</a>
        </div>
    </div>

    <table id="dataTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">
                    Title
                </th>
                <th class="text-center">
                    Description
                </th>
                <th class="text-center">
                    ISBN
                </th>
                <th class="text-center">
                    Author
                </th>
                <th class="text-center">
                    List Price
                </th>
                <th class="text-center">
                    Price
                </th>
                <th class="text-center">
                    Price50
                </th>
                <th class="text-center">
                    Price100
                </th>
                <th class="text-center">
                    Category
                </th>
                <th class="text-center">
                    Actions
                </th>
            </tr>
        </thead>

    </table>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}
